@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Noto+Serif+KR:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;700&display=swap');
// blocks
html, body, ul, li, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ol, textarea, th, td, img, p{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

// Media
img, video{
  height: auto;
  max-width: 100%;
}

// form
select, input, button{
  margin: 0;
}

// Table
table{
  border-collapse: collapse;
  border-spacing: 0;
}

td,th{
  padding: 0;
}
